<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Marcos Djivelekian" />
    <meta name="keywords" content="Marcos, Djivelekian, Marcos Djivelekian, development, web development, HTML, CSS, JavaScript, full stack">

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/b794b9e48a.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    {% include header.html %} {{ content }} {% include footer.html %}
</body>